body {
background-color: rgb(255, 190, 92);
}
.jumbotron {
    height: 200px;
}
.jumbotronHeader {
    text-align: center;
    
}

.jumboP {
    text-align: center;

}
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 0.7;
}
p {
    margin-top: 21px;
    margin-bottom: 0rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.addTrainCard {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}